.menu-container{
    position: absolute;
    background-color: white;
    top: 0;
    width: 100vw;
    height: 100vh;
    .conteiner{
        position: relative;
        padding-top: 48px;
        padding-left: 40px;
        // padding-bottom: 48px;

    }
    .menu-toggle{
        position: absolute;
        right: 25px;
        top: 21px;
    }
}

.mobale-social__list{
    display: flex;  
    justify-content: flex-start;
    margin-top: 64px;
       
    
    .mobale-social__link{
       border-right: 2px solid rgba(33, 33, 33, 0.2);                      
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
                      
        &:hover,
        &:focus{
            color: $color-button-logo;
        }
    }
    
}
.mobale-contakt__list{
    padding-left: 10px;
}

.mobale-connektion{
    position:fixed;
    bottom: 48px;
   
}
